* {
  margin: 0;
}

/* =====LOGIN FORM BANNER========*/
.form-banner {
  height: 100%;
  width: 100%;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
